<!DOCTYPE html>
<html lang="eng">
<head>

    {% load static %}
    <link rel="stylesheet" type="text/css"
    href="{% static 'css/style.css'%}"/>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
     initial-scale=1">
    <title>My Site</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    </nav>
    <div id="content">
        {% block content%}
        this is a fall
        {% endblock%}
    </div>
</body>
</html>